# Data Science Tools and Ecosystem

##### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science  
- Demonstrate basic arithmetic expressions in Python  
- Convert units (e.g., minutes to hours) using Python  
- Create and interpret plots using ggplot2 in R  
- Understand the difference between categorical and numerical variables

##### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. C++

##### Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. Pytorch
3. keras

Data Science Tools
------------------
Apache Spark

Tableau

SQL

# Arithmetic Expression Examples

### Below are a few examples of evaluating arithmetic expressions in Python.

# Addition
3 + 5

# Subtraction
10 - 4

# Multiplication
6 * 7

# Division
20 / 4

# Exponentiation
2 ** 3

# Modulus (remainder)
10 % 3

In [8]:
# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
print("Result:", result)

Result: 17

In [9]:
# This will convert 200 minutes to hours by dividing by 60
hours = 200 / 60
print("200 minutes is equal to", round(hours, 2), "hours")

200 minutes is equal to 3.33 hours

## Author

Andria Beridze